spring:
  application:
    name: demo
  datasource:
    url: jdbc:postgresql://localhost:32768/postgres
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
