services:

  database:
    build: postgresql/
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    command: [ "postgres", "-c", "log_statement=${DATABASE_LOGS:-none}" ]
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 3s
      timeout: 3s
      retries: 20
      start_period: 5s
    restart: "no"
